* {
  box-sizing: border-box;
  padding: 3px;
  font-family: Helvetica, Arial;
  background-color: sandybrown;
  /*
  border: 1px;
  border-style: solid;
  border-color: grey;
  */
}

@font-face {
  font-family: 'Mansalva';
  src: url('../fonts/Mansalva-Regular.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kablammo';
  src: url('../fonts/Kablammo-Regular-VariableFont_MORF.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

span {
  font-size: 1.2em;
  font-weight: bolder;
}

h1 {
  color: darkolivegreen;
  font-family: 'Kablammo';
  font-size: 42px;
}

p {
  font-family: "Mansalva";
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 80vw;
  grid-gap: 20px;
  justify-content: center;
}

.grid-container > div{
  border: 5px olivedrab solid;
  padding : 20px;
  border-radius: 30px;
}

#logo {
  width: 420px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.animal-overview-item-button {
  border-radius: 10px;
  background-color: olive;
}

.animal-overview-item-button:hover {
  background-color: white;
}

.animal-overview-item-button:active {
  background-color: black;
  color: white;
}