* {
  box-sizing: border-box;
  padding: 3px;
  font-family: Helvetica, Arial;
  /*
  border: 1px;
  border-style: solid;
  border-color: grey;
  */
}

span {
  font-size: 1.2em;
  font-weight: bolder;
}

.grid-container {
  display: grid;
  grid-template-columns: 80vw;
  grid-gap: 20px;
  justify-content: center;
}

.grid-container > div{
  border: 1px black solid;
  padding : 20px;
}

#logo {
  width: 80vw;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}