* {
  box-sizing: border-box;
  padding: 3px;
  font-family: Helvetica, Arial;
  background-color: sandybrown;
  /*
  border: 1px;
  border-style: solid;
  border-color: grey;
  */
}

@font-face {
  font-family: 'Mansalva';
  src: url('../fonts/Mansalva-Regular.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kablammo';
  src: url('../fonts/Kablammo-Regular-VariableFont_MORF.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

span {
  font-size: 1.2em;
  font-weight: bolder;
}

h1 {
  color: darkolivegreen;
  font-family: 'Kablammo';
  font-size: 42px;
}

p {
  font-family: "Mansalva";
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 80vw;
  grid-gap: 20px;
  justify-content: center;
}

.grid-container > div{
  border: 5px olivedrab solid;
  padding : 20px;
  border-radius: 30px;
}

#logo {
  width: 420px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.animal-overview-item-button {
  border-radius: 10px;
  background-color: olive;
}

.animal-overview-item-button:hover {
  background-color: white;
}

.animal-overview-item-button:active {
  background-color: black;
  color: white;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  /* -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline; */
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container .modal img {
  max-width: 100%;
  max-height: 250px;
  object-fit: contain;
  display: block;
  margin: 10px auto;
  float: right;
}

#modal-container .modal ul {
  float: left;
}

